@* Main title *@
<center>
    <h1>Nouvelles énergies renouvelables</h1>
</center>

@* Back buttons and current page *@
<div>
    <a asp-action="Index">Home</a> > <a asp-action="Map">NER</a>
</div>

@* Map displayed *@
<div id="mapNavigationPanel" class="navigationPanel">
    <a asp-action="PV"><img src="~/Images/sun.png" class="navigationImage" /></a>
    <a asp-action="Hydro"> <img src="~/Images/hydro.png" class="navigationImage" /></a>
    <a asp-action="Graph"> <img src="~/Images/wind.png" class="navigationImage" /></a>
    <a asp-action="BioGaz"> <img src="~/Images/biogaz.png" class="navigationImage" /></a>
</div>
<div class="centeredDiv">
    <img src="~/Images/Map.png" />
</div>

