@* Main title *@
<center>
    <h1>Nouvelles énergies renouvelables</h1>
</center>

@* Back buttons and current page *@
<div>
    <a asp-action="Index">Home</a> > <a asp-action="Map">NER</a>
</div>

@* Map displayed *@
<div class="centeredDiv">
    <img src="~/Images/Map.png" />
</div>

